<div class="home-container">
    <div class="container home-box">
        <div class="row mb-5">
        </div>
        <div class="row mb-5">
        </div>
        <div class="row">
            <div class="col-lg-4">

            </div>

            <div class="col-lg-8">
                <h2 class="home-title mt-3">MOVIE FINDER</h2>
                <form method="POST" action="/movie-search-results/:value">
                    <input type="text" name="title" required id="movieTitleAutocomplete"
                        class="rounded-pill shadow-sm search-btn py-2" placeholder="   search">
                    <ul id="suggestionResults">
                    </ul>
                    <br><br>

                    <input type="submit" value="Search for a movie or series"
                        class="btn rounded-pill shadow-sm p-3 home-btn">
                </form>

            </div>


        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/autocomplete-movie-title.js"></script>