<div class="home-container">
    <div class="container home-box">
        <div class="white-box">
            <article>
                <h2 class="home-h2">MOVIE FINDER</h2>
                <hr>
            </article>

            <form method="POST" action="/movie-search-results/:value">

                <input type="text" name="title" required id="movieTitleAutocomplete">
                <ul id="suggestionResults">
                </ul>
                <br><br>

                <input type="submit" value="Search for a movie or series" class="home-button">
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/autocomplete-movie-title.js"></script>