<div class="home-container">
    <div class="container home-box">
        <div class="white-box">
            <article>
                <h2 class="home-h2">MOVIE FINDER</h2>
                <hr>
            </article>

            <form method="GET" action="/movie-search-results">

                <input type="text" name="title" required id="movieTitleAutocomplete">
                <ul>
                    <li> <a href="/movie-search-results/hiuhe67t7e">Breaking Bad</a></li>
                    <li> <a href="/movie-search-results/9875985fy"></a></li>
                </ul>
                <br><br>

                <input type="submit" value="Search for a movie or series" class="home-button">
            </form>
        </div>
    </div>
</div>

<script src="/js/autocomplete-movie-title.js"></script>