<div class="container">
    <h1>STREAMING AVAILABILITY!</h1>
    <p>Get streaming details of movies and TV series from +150 streaming platforms</p>

    <div class="container">
        <div class="search">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="search-2"> <i class='bx bxs-map'></i> <input type="text"
                                placeholder="Catch me if you can"> <button>Search</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>