<div class="container">
    <h1>Search Results</h1>
    <hr>

    <div class="row">

        {{#each movie}}

        {{this.title}}

        {{this.network_names}}

        {{/each}}

    </div>
    <a href="/" class="btn btn-dark mb-5">Back to HOME</a>
</div>