<div class="container">
    <h1>Bienvenid@, {{username}}</h1>
    <hr>
    <p>Tu email es {{email}}</p>
    <p>Tu descripción es {{description}}</p>
    <img src="{{avatar}}" alt="Avatar Image">

</div>